<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrepTime</key>
	<array>
		<string>25 min</string>
		<string>35 min</string>
		<string>Eternity</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>creme_brelee.jpg</string>
	</array>
	<key>RecipeName</key>
	<array>
		<string>Creme Brulee</string>
		<string>Cheese Sauces</string>
		<string>Weiner Nails</string>
	</array>
</dict>
</plist>
